/* Banner */
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom right, #292d3e, #746fb0);
  height: 80px;
}

.banner-logo {
  display: flex;
  align-items: center;
}

.banner-logo img {
  height: 50px;
  margin-right: 10px;
}

.banner-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.banner-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom right, #292d3e, #746fb0);
  height: 80px;
}

.banner-logo {
  display: flex;
  align-items: center;
}

.banner-logo img {
  height: 50px;
  margin-right: 10px;
}

.banner-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.banner-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.banner-link:hover {
  color: #7b9ddb30;
  text-decoration: highlight;
}

/* Contact Us section */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #181818, #3d1452);
  color: #fff;
  margin: 0;
}

form {
  width: 70%;
  border: 2px solid #fff;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 20px;
  background-color: #7a23ac;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

form h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px;
  background-color: #c3cbed;
}

form textarea {
  height: 150px;
}


form input[type="submit"] {
  background-color: #292d3e;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #7b9ddb30;
  color: #fff;
}

form input[type="submit"]:hover {
  background-color: #746fb0;
}

#errorDiv ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#errorDiv li {
  color: red;
  margin-bottom: 5px;
}